.section{
    margin:0px auto;
    width: 90%;
}

.formCreate{
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}

.divForm{
    width: 100%;
    margin-bottom: 20px;
}

.labelForm{
    width: 100%;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.inputForm{
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
}

.textarea{
    height: 100px;
    padding: 5px;
}

.file{
    width: 100%;
}

.buttonCreate{
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    background:#FC6700;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color:#ffff;
}

.buttonCreate:hover{
    background:#17202A;
}

.subTitle{
    font-size: 35px;
    color: #fff;
    margin-bottom: 25px;
}