.sectionMovies{
    margin: auto;
    width: 90%;
    
}

.divSearch{
    width: 100%;
    padding: 25px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 50px;
}

.titleSearch{
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
    color: #fff;
}

.seacrh{
    width: 100%;
    padding: 8px;
    font-size: 22px;
    outline: none;
    border: 2px solid #000000;
    border-radius: 5px;
}

.divMovie{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:25px;
}

.movie{
    height: 300px;
    background: #fff;
    border-radius: 10px;
    transition: all 0.2s;
    position: relative;
}

.optionMovie{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s;
}

.movie:hover{
    border: 2px solid #FC6700;
    transform: scale(1.03);
}

.movie:hover > .optionMovie{
    opacity: 10;
    background: #FC6700;
}



.imgMovie{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.nameMovie{
    width: 100%;
    text-align: center;
    font-size: 19px;
    padding:10px 0px;
}