*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#17202A;
}

.header{
    background:#FC6700;
    height: 80px;
    width: 100%;
    margin: 0px 0px 70px 0px;
}

.divHeader{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
    background: #fff;
    height: 60px;
    border-radius: 100%;
}

.link{
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.link:hover{
    background: #fff;
    color: #000;
}

.footer{
    margin: 70px 0px 0px 0px;
    display:flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 90px;
}

.divFooter{
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
}
